

body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

a.btn-link:hover {
	text-decoration:none;
}

.custom-float-left {
	float: right;
}

/*HEADER*/
div.header-container>h3 {
	text-align: center;
	color: #bdb8b8;
}

div.breedcrumbs-panel {
	margin-top: 2em;
}

span.breedcrumbs-button {
	background-color: rgb(157, 157, 157);
	padding: 2px;
	color: white;
	position:relative;
}

a.breedcrumbs-button {
	background-color: rgb(157, 157, 157);
	padding: 2px;
	color: black;
	margin-right:1.5em;
	position: relative;
}

a.breedcrumbs-button:hover {
	color: #3537ff;
	text-decoration: none;
}

a#intermediary:after {
	right: -20px;
}

a#intermediary:before {
	content: '';
	border-style: solid;
	border-color: rgb(157, 157, 157) rgb(157, 157, 157) rgb(157, 157, 157) transparent;
	position: absolute;
	left: -20px;
	border-width: 10px;
}

a.breedcrumbs-button:after {
	content: '';
	border-style: solid;
	right: -20px;
	border-width: 10px;
	border-color: transparent transparent transparent rgb(157, 157, 157);
	position: absolute;
}

a.prev-page:before {
	content: '';
	border-style: solid;
	border-color: rgb(157, 157, 157) rgb(157, 157, 157) rgb(157, 157, 157) transparent;
	position: absolute;
	left: -20px;
	border-width: 10px;
}

span.breedcrumbs-button:before {
	content: '';
	border-style: solid;
	border-color: rgb(157, 157, 157) rgb(157, 157, 157) rgb(157, 157, 157) transparent;
	position: absolute;
	left: -20px;
	border-width: 10px;
}

span.greetings>h3 {
	color: #bdb8b8;
	text-align: right;
	font-size: 1.5em;
	margin-bottom: 1em;
}

span.logout-button>a {
	margin-top: 0.4em;
}
/*NAVBAR*/
nav.navbar {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.82);
}

div.content-row {
	margin-top: 5em;
}

/*BODY*/
td#disciplineTableTd {
	width: 130px;
}

select#currentTerm {
	margin-top: 0.5em;
}

td {
	padding: 1px;
}

a.btn-default {
	margin-bottom: 0.5em;
}

input.btn-default {
	margin-bottom: 0.5em;
}

div.general-container>h3 {
	text-align: center;
}

div.general-container {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.82);
}

div.link {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.82);
	text-align: center
}

.custom-reference {
	font-weight: bold;
}

.table-hover tr:hover>td {
	cursor: pointer;
}

.table-border {
	border-right: 5px border-color: black;
}